{% extends 'infopages/infopages.html' %}
{% block pagetitle %}личный кабинет{% endblock %}
{% block text1 %}
    <div class="pricing-header p-1 pb-md-3 mx-auto">
        <h2 class="display-7 fw-normal text-left">Личный кабинет</h2>
    </div>
    {% if user.is_authenticated %}
    <div class="fs-5 text-muted">
            {% if results %}
                <h4 class="display-7 fw-normal text-left">Вам назначены следующие модули:</h4>
                <ul class="list-group">
                {% for el in results %}
                    <li class="list-group-item">
                        <a href="kurs?id={{ el.kurseid }}">{{ el.title  }}.</a>
                        {% if el.result_int != 0 %}
                            <br/><small>Результат теста: {{ el.result_int }} % </small>
                            {% if el.result_int > 50 %}
                            <span class="p-1 bg-success text-white rounded">&nbsp;&#10004;&nbsp;</span>
                            {% else %}
                            <span class="p-1 bg-danger text-white rounded">&nbsp;&#10008;&nbsp;</span>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                <br/>
                <div class="fs-5 text-muted">
                    <a href = "{% url 'test' %}" class="btn btn-primary">Пройти тестирование</a>
                </div>
            {% else %}
                <div class="fs-5 text-muted">
                    <p>Извините, но для вас администратор не назначил ни одного модуля.</p>
                </div>
            {% endif %}
            {% if zadanie %}
            <hr/>
            <h4 class="display-7 fw-normal text-left">Вам назначены задания:</h4>
            <ul class="list-group">
                {% for el in zadanie %}
                <li class="list-group-item">{{ el.text | safe }}
                    {% if el.vipolnen == True %}
                    <br/><small>Задание выполнено </small>
                    <span class="p-1 bg-success text-white rounded">&nbsp;&#10004;&nbsp;</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            {% endif %}
    </div>
    {% else %}
        <div class="fs-5 text-muted">
            <p>Извините, но вы не авторизованы. <a href="{% url 'login' %}">Войдите</a> для продолжения работы с личным кабинетом.</p>
        </div>
    {% endif %}
{% endblock %}


