{% extends 'infopages/infopages.html' %}
{% block pagetitle %}Вход{% endblock %}
{% block text1 %}
    <div class="pricing-header p-1 pb-md-3 mx-auto">
        <h2 class="display-7 fw-normal text-left">Вход</h2>
        <br/>
        <div class="fs-5 text-muted">
    {% if user.is_authenticated %}
        <p>Вы уже авторизованы.</p><p>Для работы с ресурсом перейдите в нужный раздел.</p>
    {% else %}

        {% if error %}
            <p class="alert-warning">{{ error |safe }}</p>
        {% else %}
            <p>Введите логин и пароль:</p>
        {% endif %}

            <form method="POST">
                {% csrf_token %}
                <p>
                    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="off" maxlength="150" required="" id="id_username" placeholder="Имя пользователя">
                </p>
                <p>
                    <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Пароль">
                </p>
                <button type="submit" class="btn btn-lg btn-outline-primary">Войти</button>
            </form>
    {% endif %}
     </div>
    </div>
{% endblock %}


